.uno p{
    border: 3px dotted;
    border-color:  #d66f0f;
    width: 500px;
    color: #2d6921;
    font-weight: bold;
    margin-bottom: 100px;
    text-align: right;
    padding: 20px;
}

.dos p{
    border: 3px solid;
    border-color: blue;
    width: 500px;
    position: absolute;
    top: 30%;
    left: 30%;
    margin: auto;
    padding: 50px;
    text-align: justify;
    font-style: italic;
}

.tres p{
    width: 30%;
    border:  6px outset;
    border-color: #666;
    padding: 10px;
    text-align: justify;
    line-height: 30px;
}

.cuatro p{
    width: 75%;
    border-top: 3px solid;
    border-color: #f0377b;

}




body{
    display: flex;
}