@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');



body{
    background-color: white;
    font-family: 'Mukta', sans-serif;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    background-color: #ffffec;
    width: 650px;
    height: 700px;
}


#titulo{
    display: flex;
    justify-content: center;
    align-items: center;   
    position: relative;
    bottom: 150px;
    width: 650px;
    background-color: #95b8f6;
    height: 140px;
    border-radius: 30px;
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
}

#botonCatalogo{
    position: relative;
    /*bottom: 205px;*/
    bottom: 230px;
    left: 115px;
    background-color: #95b8f6;
    width: 100px;
    height: 50px;
}

#botonAlumno{
    position: relative;
    /*bottom: 218px;*/
    bottom: 241px;
    left: 165px;
    background-color: #95b8f6;
    width: 100px;
    height: 50px;
}

#botonPrestados{
    position: relative;
    /*bottom: 229px;*/
    bottom: 253px;
    left: 213px;
    background-color: #95b8f6;
    width: 100px;
    height: 50px;
}


/*PAGINA ALUMNO*/
.alumnoContainer{
    position: relative;
    bottom: 120px;
    right: 250px;
}

#textAlumno{
    position: relative;
    bottom: 100px;
    right: 70px;
    font-size: 20px;
}

#nombreAlumno{
    position: relative;
    bottom: 70px;
    right: 300px;
}

#dniAlumno{
    position: relative;
    bottom: 40px;
    right: 300px;
}

#botonAgregarAlumno{
    position: relative;
    bottom: 110px;
    background-color: #a7b3c9;
    width: 100px;
    height: 50px;
}

/*PRESTADOS*/
.prestadosContainer{
    position: relative;
    bottom: 120px;
    right: 250px;
}

.selectContainer{
    position: relative;
    bottom: 40px;
    right: 300px;
}

#textPrestados{
    position: relative;
    bottom: 10px;
    left: 155px;
    font-size: 20px;
}

#prestados{
    position: relative;
    top: 20px;
}

#sLibros{
    position: relative;
    top: 20px;
    right: 80px;
}

#sAlumnos{
  position: relative;
  right: 80px;
}

#botonPrestar{
    position: relative;
    left: 120px;
    bottom: 70px;
    background-color: #a7b3c9;
    width: 100px;
    height: 50px;
}



/*EFECTOS*/

#botonCatalogo:hover{
   transform: scale(1.1);
   transition: 0.3s;
}
#botonAlumno:hover{
    transform: scale(1.1);
    transition: 0.3s;
 }
 #botonPrestados:hover{
    transform: scale(1.1);
    transition: 0.3s;
 }
#botonAgregarLibro:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

#botonAgregarAlumno:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

#botonPrestar:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

